# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Kaggle temporary files
*.zip
*.tar
*.tar.gz

# Model artifacts (optional)
*.h5
*.ckpt

# Local data files (if any)
*.csv
